/* login.component.css */
.register-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  #header {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #0d3056;
    margin-bottom: 20px;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  div {
    margin-bottom: 15px;
  }

  .back-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #333; /* Dark gray for visibility */
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

    .back-button:hover {
        color: #007bff; /* Blue highlight on hover */
    }

    .back-button::before {
        content: "â†"; /* Left arrow */
        margin-right: 8px;
        font-size: 18px;
    }

  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .submit-button {
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #39813b;
  }

  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 10px;
  }
  
  div > div {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }