<!-- forgot-password.component.html -->
<div class="forgot-form-container">

    <a routerLink="/login" class="back-button">Back to Login</a>

    <form (ngSubmit)="onSubmit(forgotForm)" #forgotForm="ngForm" class="forgot-form">
      <h1 id="header">Forgot Password</h1>
  
      <div class="form-group">
        <label for="mail">Mail:</label>
        <input type="text" id="mail" name="mail" ngModel required #mail="ngModel" class="form-input">
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="error-message">
          <div *ngIf="mail.errors?.['required']">Mail is required.</div>
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <button type="submit" [disabled]="forgotForm.invalid" class="submit-button">Recover Password</button>
    </form>
</div>