<!-- login.component.html -->
<div class="login-form-container">
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="login-form">
    <h1 id="header">Login</h1>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" ngModel required #email="ngModel" class="form-input">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
        <div *ngIf="email.errors?.['required']">Username is required.</div>
        <div *ngIf="email.errors?.['minlength']">Username must be at least 3 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required #password="ngModel" class="form-input">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>

    <a routerLink="/forgot-password" class="forgot-link">Forgot password?</a>

    <!-- Display error message if login fails -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="submit-button">Login</button>
  </form>

  <a routerLink="/register" class="register-button">Register</a>
</div>